flows.json
[{"id":"a48159ac.7f0728","type":"tab","label":"Data","disabled":false,"info":""},{"id":"d85f18b8.5527f8","type":"tab","label":"Settings","disabled":false,"info":""},{"id":"3b4d1a44.6ccb76","type":"tab","label":"Hardware simulation","disabled":false,"info":""},{"id":"c94c2553.d4c488","type":"ui_tab","z":"","name":"Hardware Simulation","icon":"settings_remote"},{"id":"d47626d0.dfc0f8","type":"ui_group","z":"","name":"Application Settings","tab":"bd2f8341.4ef4","order":4,"disp":true,"width":"7","collapse":false},{"id":"a5369b72.a5afa8","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"bd2f8341.4ef4","type":"ui_tab","z":"","name":"Dashboard","icon":"dashboard"},{"id":"68baeed.917689","type":"ui_group","z":"","name":"Hardware Simulation","tab":"c94c2553.d4c488","order":1,"disp":true,"width":"9","collapse":false},{"id":"b7055da3.a5c2a8","type":"ui_group","z":"","name":"Objects Evolution","tab":"bd2f8341.4ef4","order":3,"disp":false,"width":"6","collapse":false},{"id":"8ca4344e.03c9a","type":"ui_group","z":"","name":"Console","tab":"bd2f8341.4ef4","order":2,"disp":true,"width":"7","collapse":false},{"id":"a004fff7.ca858","type":"ui_group","z":"","name":"Sensors Evolution","tab":"bd2f8341.4ef4","order":1,"disp":true,"width":"8","collapse":false},{"id":"3594d833.59a688","type":"http in","z":"a48159ac.7f0728","name":"","url":"/data/Temp_ext","method":"post","upload":false,"swaggerDoc":"","x":120,"y":40,"wires":[["9d90ab77.3f0cd8"]]},{"id":"efdd5cd9.adbc2","type":"http in","z":"a48159ac.7f0728","name":"","url":"/data/Temp_int","method":"post","upload":false,"swaggerDoc":"","x":120,"y":80,"wires":[["6afb9010.d0974"]]},{"id":"dd54cf42.7673d","type":"http in","z":"a48159ac.7f0728","name":"","url":"/data/isSomeoneHere","method":"post","upload":false,"swaggerDoc":"","x":140,"y":120,"wires":[["c376f592.fc7868"]]},{"id":"4916cdd6.09c4d4","type":"ui_chart","z":"a48159ac.7f0728","name":"","group":"a004fff7.ca858","order":0,"width":0,"height":0,"label":"Temperature evolution","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":540,"y":60,"wires":[[],[]]},{"id":"9d90ab77.3f0cd8","type":"function","z":"a48159ac.7f0728","name":"","func":"msg.payload = msg.payload\nmsg.topic = \"Température extérieure\"\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":40,"wires":[["4916cdd6.09c4d4"]]},{"id":"6afb9010.d0974","type":"function","z":"a48159ac.7f0728","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":80,"wires":[["4916cdd6.09c4d4"]]},{"id":"f42fc1ef.293448","type":"ui_numeric","z":"d85f18b8.5527f8","name":"","label":"Day starts at","group":"d47626d0.dfc0f8","order":0,"width":0,"height":0,"passthru":false,"topic":"","format":"{{value}}","min":"0","max":"24","step":1,"x":630,"y":40,"wires":[["7d4060bf.40f7a"]]},{"id":"4d8b43f2.c6e924","type":"http request","z":"d85f18b8.5527f8","name":"","method":"GET","ret":"txt","url":"http://192.168.43.214:8080/AutonomousRoomsServices/userinputs/getMinTime","tls":"","x":350,"y":40,"wires":[["a0b31bd7.64597"]]},{"id":"a0b31bd7.64597","type":"function","z":"d85f18b8.5527f8","name":"","func":"msg.payload = Number(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":40,"wires":[["f42fc1ef.293448"]]},{"id":"7d4060bf.40f7a","type":"http request","z":"d85f18b8.5527f8","name":"","method":"POST","ret":"txt","url":"http://192.168.43.214:8080/AutonomousRoomsServices/userinputs/setMinTime","tls":"","x":830,"y":40,"wires":[[]]},{"id":"353d9176.656d06","type":"inject","z":"d85f18b8.5527f8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":70,"y":100,"wires":[["4d8b43f2.c6e924","3be51d0.74087e4","c761bd2d.d1cf48","f4b2c542.24ec88"]]},{"id":"c376f592.fc7868","type":"ui_chart","z":"a48159ac.7f0728","name":"","group":"a004fff7.ca858","order":0,"width":0,"height":0,"label":"Presence","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":500,"y":120,"wires":[[],[]]},{"id":"b47b2be.3b828d8","type":"function","z":"3b4d1a44.6ccb76","name":"","func":"msg.payload=\"<m2m:cin xmlns:m2m=\\\"http://www.onem2m.org/xml/protocols\\\"> <cnf>message</cnf><con>\"+msg.payload +\"</con></m2m:cin>\";\nmsg.headers = {};\nmsg.headers['X-M2M-Origin']=\"admin:admin\";\nmsg.headers['Content-Type']=\"application/xml;ty=4\";\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":100,"wires":[["f639a3f2.147e5"]]},{"id":"f639a3f2.147e5","type":"http request","z":"3b4d1a44.6ccb76","name":"","method":"POST","ret":"txt","url":"http://localhost:8080/~/in-cse/in-name/Temp_in/DATA","tls":"","x":900,"y":100,"wires":[[]]},{"id":"e40e48f1.21ef68","type":"ui_numeric","z":"d85f18b8.5527f8","name":"","label":"Day ends at","group":"d47626d0.dfc0f8","order":0,"width":0,"height":0,"passthru":false,"topic":"","format":"{{value}}","min":"0","max":"24","step":1,"x":630,"y":80,"wires":[["63e015d3.9ced44"]]},{"id":"3be51d0.74087e4","type":"http request","z":"d85f18b8.5527f8","name":"","method":"GET","ret":"txt","url":"http://192.168.43.214:8080/AutonomousRoomsServices/userinputs/getMaxTime","tls":"","x":350,"y":80,"wires":[["cd55504.8b6793"]]},{"id":"cd55504.8b6793","type":"function","z":"d85f18b8.5527f8","name":"","func":"msg.payload = Number(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":80,"wires":[["e40e48f1.21ef68"]]},{"id":"63e015d3.9ced44","type":"http request","z":"d85f18b8.5527f8","name":"","method":"POST","ret":"txt","url":"http://192.168.43.214:8080/AutonomousRoomsServices/userinputs/setMaxTime","tls":"","x":830,"y":80,"wires":[[]]},{"id":"8bd2c.954ad2d48","type":"ui_numeric","z":"d85f18b8.5527f8","name":"","label":"Min Temperature","group":"d47626d0.dfc0f8","order":0,"width":0,"height":0,"passthru":false,"topic":"","format":"{{value}}","min":"-10","max":"50","step":1,"x":650,"y":120,"wires":[["ff32a826.3a7518"]]},{"id":"c761bd2d.d1cf48","type":"http request","z":"d85f18b8.5527f8","name":"","method":"GET","ret":"txt","url":"http://192.168.43.214:8080/AutonomousRoomsServices/userinputs/getMinTemp","tls":"","x":350,"y":120,"wires":[["21c1a7b7.f8e7e8"]]},{"id":"21c1a7b7.f8e7e8","type":"function","z":"d85f18b8.5527f8","name":"","func":"msg.payload = Number(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":120,"wires":[["8bd2c.954ad2d48"]]},{"id":"ff32a826.3a7518","type":"http request","z":"d85f18b8.5527f8","name":"","method":"POST","ret":"txt","url":"http://192.168.43.214:8080/AutonomousRoomsServices/userinputs/setMinTemp","tls":"","x":830,"y":120,"wires":[[]]},{"id":"a3dc35.b7b38bc8","type":"ui_numeric","z":"d85f18b8.5527f8","name":"","label":"Max Temperature","group":"d47626d0.dfc0f8","order":0,"width":0,"height":0,"passthru":false,"topic":"","format":"{{value}}","min":"-10","max":"50","step":1,"x":650,"y":160,"wires":[["6f597e2b.30ca"]]},{"id":"f4b2c542.24ec88","type":"http request","z":"d85f18b8.5527f8","name":"","method":"GET","ret":"txt","url":"http://192.168.43.214:8080/AutonomousRoomsServices/userinputs/getMaxTemp","tls":"","x":350,"y":160,"wires":[["5c6ec0c.30d704"]]},{"id":"5c6ec0c.30d704","type":"function","z":"d85f18b8.5527f8","name":"","func":"msg.payload = Number(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":160,"wires":[["a3dc35.b7b38bc8"]]},{"id":"6f597e2b.30ca","type":"http request","z":"d85f18b8.5527f8","name":"","method":"POST","ret":"txt","url":"http://192.168.43.214:8080/AutonomousRoomsServices/userinputs/setMaxTemp","tls":"","x":830,"y":160,"wires":[[]]},{"id":"bd01a1a7.76efe8","type":"ui_toast","z":"a48159ac.7f0728","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"OK","cancel":"","topic":"","name":"Alarm Alert","x":630,"y":360,"wires":[[]]},{"id":"58808d76.2b01e4","type":"function","z":"3b4d1a44.6ccb76","name":"","func":"msg.payload=\"<m2m:cin xmlns:m2m=\\\"http://www.onem2m.org/xml/protocols\\\"> <cnf>message</cnf><con>\"+msg.payload +\"</con></m2m:cin>\";\nmsg.headers = {};\nmsg.headers['X-M2M-Origin']=\"admin:admin\";\nmsg.headers['Content-Type']=\"application/xml;ty=4\";\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":160,"wires":[["d22d56d0.32aa38"]]},{"id":"d22d56d0.32aa38","type":"http request","z":"3b4d1a44.6ccb76","name":"","method":"POST","ret":"txt","url":"http://localhost:8080/~/in-cse/in-name/Temp_ext/DATA","tls":"","x":930,"y":160,"wires":[[]]},{"id":"6330842b.e8a5bc","type":"function","z":"3b4d1a44.6ccb76","name":"","func":"msg.payload=\"<m2m:cin xmlns:m2m=\\\"http://www.onem2m.org/xml/protocols\\\"> <cnf>message</cnf><con>\"+msg.payload +\"</con></m2m:cin>\";\nmsg.headers = {};\nmsg.headers['X-M2M-Origin']=\"admin:admin\";\nmsg.headers['Content-Type']=\"application/xml;ty=4\";\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":220,"wires":[["f76e8645.6233c8"]]},{"id":"f76e8645.6233c8","type":"http request","z":"3b4d1a44.6ccb76","name":"","method":"POST","ret":"txt","url":"http://localhost:8080/~/in-cse/in-name/Presence/DATA","tls":"","x":910,"y":220,"wires":[[]]},{"id":"694946b6.0d8338","type":"ui_switch","z":"3b4d1a44.6ccb76","name":"","label":"Presence","group":"68baeed.917689","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":530,"y":220,"wires":[["6330842b.e8a5bc"]]},{"id":"5bae9ce3.db42f4","type":"ui_text_input","z":"3b4d1a44.6ccb76","name":"","label":"Température intérieure","group":"68baeed.917689","order":1,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"","x":500,"y":100,"wires":[["b47b2be.3b828d8"]]},{"id":"858246d1.1c0b78","type":"ui_text_input","z":"3b4d1a44.6ccb76","name":"","label":"Température extérieure","group":"68baeed.917689","order":2,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"","x":510,"y":160,"wires":[["58808d76.2b01e4"]]},{"id":"4b3ab45d.62f354","type":"http in","z":"a48159ac.7f0728","name":"","url":"/dataUpdated","method":"post","upload":false,"swaggerDoc":"","x":110,"y":300,"wires":[["53a8cfc3.84ab58","8478d62e.e86488"]]},{"id":"53a8cfc3.84ab58","type":"function","z":"a48159ac.7f0728","name":"","func":"windows = null;\ndoors = null;\nlights = null;\nalarm = null;\n\nif (msg.payload.window !== undefined) {\n    windows = {\n        \"payload\": msg.payload.window === 'open' ? 1 : 0,\n        \"action\" : (msg.payload.window === 'open') ? \"Open Windows\" : \"Close Windows\"\n        \n    };\n}\n\nif (msg.payload.door !== undefined) {\n    doors = {\n        \"payload\": msg.payload.door === 'open' ? 1 : 0,\n        \"action\" : (msg.payload.door === 'open') ? \"Open Doors\" : \"Close Doors\"\n        \n    };\n}\n\nif (msg.payload.light !== undefined) {\n    lights = {\n        \"payload\":msg.payload.light === 'on' ? 1 : 0,\n        \"action\" : (msg.payload.light === 'on') ? \"Turn Lights On\" : \"Turn Lights Off\"\n        \n    };\n}\n\nif (msg.payload.alarm !== undefined) {\n    alarm = {\n        \"payload\":msg.payload.alarm === 'on' ? 1 : 0,\n        \"action\" : (msg.payload.alarm === 'on') ? \"Turn Alarm On\" : \"Turn Alarm Off\"\n        \n    };\n}\n\nreturn [windows, doors, lights, alarm];","outputs":4,"noerr":0,"x":290,"y":340,"wires":[["d285cae1.811ce","eb0d4fc.e5aacb"],["d285cae1.811ce","6241854e.f96944"],["d285cae1.811ce","604e418f.2fa428"],["d285cae1.811ce","db27304b.b64d18"]]},{"id":"8478d62e.e86488","type":"http response","z":"a48159ac.7f0728","name":"","statusCode":"200","headers":{},"x":300,"y":260,"wires":[]},{"id":"5c61697e.815ed8","type":"file","z":"a48159ac.7f0728","name":"","filename":"test.txt","appendNewline":true,"createDir":true,"overwriteFile":"false","x":250,"y":480,"wires":[["1566cde1.f96bba"]]},{"id":"1566cde1.f96bba","type":"file in","z":"a48159ac.7f0728","name":"","filename":"test.txt","format":"utf8","chunk":false,"sendError":false,"x":390,"y":500,"wires":[["a87b721a.a8ae88","821f700.771459"]]},{"id":"a87b721a.a8ae88","type":"debug","z":"a48159ac.7f0728","name":"LOG","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":530,"y":480,"wires":[]},{"id":"ccd5f813.da0ee","type":"file","z":"a48159ac.7f0728","name":"","filename":"test.txt","appendNewline":false,"createDir":false,"overwriteFile":"true","x":250,"y":520,"wires":[["1566cde1.f96bba"]]},{"id":"d285cae1.811ce","type":"function","z":"a48159ac.7f0728","name":"","func":"var date = new Date();\nmsg.payload = date.getHours()+\":\"+date.getMinutes()+\":\"+date.getSeconds()+ \"\\t\" +msg.action+\"</br>\";\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":400,"wires":[["5c61697e.815ed8"]]},{"id":"821f700.771459","type":"ui_template","z":"a48159ac.7f0728","group":"8ca4344e.03c9a","name":"","order":0,"width":"0","height":"0","format":"<div style=\"font-family:Monospace; height:200px;\" ng-bind-html=\"msg.payload\">\n    msg.payload\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":540,"y":520,"wires":[[]]},{"id":"eb0d4fc.e5aacb","type":"ui_chart","z":"a48159ac.7f0728","name":"","group":"b7055da3.a5c2a8","order":0,"width":0,"height":0,"label":"Windows Opening Evolution","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"step","nodata":"","dot":true,"ymin":"0","ymax":"1","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1F77B4","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"useOldStyle":false,"x":560,"y":240,"wires":[[],[]]},{"id":"6241854e.f96944","type":"ui_chart","z":"a48159ac.7f0728","name":"","group":"b7055da3.a5c2a8","order":0,"width":0,"height":0,"label":"Doors Opening Evolution","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"step","nodata":"","dot":true,"ymin":"0","ymax":"1","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1F77B4","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"useOldStyle":false,"x":550,"y":280,"wires":[[],[]]},{"id":"604e418f.2fa428","type":"ui_chart","z":"a48159ac.7f0728","name":"","group":"b7055da3.a5c2a8","order":0,"width":0,"height":0,"label":"Light Opening Evolution","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"step","nodata":"","dot":true,"ymin":"0","ymax":"1","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1F77B4","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"useOldStyle":false,"x":550,"y":320,"wires":[[],[]]},{"id":"db27304b.b64d18","type":"function","z":"a48159ac.7f0728","name":"","func":"msg.payload = msg.payload == 1 ? \"Alarm activated !\" : \"Alarm resetted\"; \nreturn msg;","outputs":1,"noerr":0,"x":490,"y":360,"wires":[["bd01a1a7.76efe8"]]},{"id":"cb91f125.707dc8","type":"ui_button","z":"a48159ac.7f0728","name":"","group":"8ca4344e.03c9a","order":0,"width":0,"height":0,"passthru":false,"label":"Clear Console","color":"","bgcolor":"","icon":"","payload":" ","payloadType":"str","topic":"","x":100,"y":520,"wires":[["ccd5f813.da0ee"]]}]