flows.json
[{"id":"a48159ac.7f0728","type":"tab","label":"Test","disabled":false,"info":""},{"id":"d85f18b8.5527f8","type":"tab","label":"Settings","disabled":false,"info":""},{"id":"3b4d1a44.6ccb76","type":"tab","label":"Hardware simulation","disabled":false,"info":""},{"id":"c94c2553.d4c488","type":"ui_tab","z":"","name":"AppSettings","icon":"dashboard"},{"id":"d47626d0.dfc0f8","type":"ui_group","z":"","name":"Dash","tab":"c94c2553.d4c488","disp":true,"width":"6","collapse":false},{"id":"a5369b72.a5afa8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"1e7d5ea8.7a2fd9","type":"ui_group","z":"","name":"Sensors State","tab":"c94c2553.d4c488","disp":true,"width":"6","collapse":false},{"id":"bd2f8341.4ef4","type":"ui_tab","z":"","name":"States","icon":"dashboard"},{"id":"68baeed.917689","type":"ui_group","z":"","name":"Sensors","tab":"bd2f8341.4ef4","disp":true,"width":"6","collapse":false},{"id":"b7055da3.a5c2a8","type":"ui_group","z":"","name":"Objects","tab":"bd2f8341.4ef4","disp":true,"width":"6","collapse":false},{"id":"3594d833.59a688","type":"http in","z":"a48159ac.7f0728","name":"","url":"/data/Temp_ext","method":"post","upload":false,"swaggerDoc":"","x":160,"y":60,"wires":[["9d90ab77.3f0cd8"]]},{"id":"efdd5cd9.adbc2","type":"http in","z":"a48159ac.7f0728","name":"","url":"/data/Temp_int","method":"post","upload":false,"swaggerDoc":"","x":160,"y":120,"wires":[["6afb9010.d0974"]]},{"id":"dd54cf42.7673d","type":"http in","z":"a48159ac.7f0728","name":"","url":"/data/isSomeoneHere","method":"post","upload":false,"swaggerDoc":"","x":180,"y":180,"wires":[["c376f592.fc7868"]]},{"id":"4916cdd6.09c4d4","type":"ui_chart","z":"a48159ac.7f0728","name":"","group":"1e7d5ea8.7a2fd9","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":580,"y":60,"wires":[[],[]]},{"id":"9d90ab77.3f0cd8","type":"function","z":"a48159ac.7f0728","name":"","func":"msg.payload = msg.payload\nmsg.topic = \"Température extérieure\"\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":60,"wires":[["4916cdd6.09c4d4"]]},{"id":"6afb9010.d0974","type":"function","z":"a48159ac.7f0728","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":120,"wires":[["4916cdd6.09c4d4"]]},{"id":"f42fc1ef.293448","type":"ui_numeric","z":"d85f18b8.5527f8","name":"","label":"Day starts at","group":"d47626d0.dfc0f8","order":0,"width":0,"height":0,"passthru":false,"topic":"","format":"{{value}}","min":"-10","max":"50","step":1,"x":630,"y":40,"wires":[["7d4060bf.40f7a"]]},{"id":"4d8b43f2.c6e924","type":"http request","z":"d85f18b8.5527f8","name":"","method":"GET","ret":"txt","url":"http://192.168.43.214:8080/AutonomousRoomsServices/userinputs/getMinTime","tls":"","x":350,"y":40,"wires":[["a0b31bd7.64597"]]},{"id":"a0b31bd7.64597","type":"function","z":"d85f18b8.5527f8","name":"","func":"msg.payload = Number(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":40,"wires":[["f42fc1ef.293448"]]},{"id":"7d4060bf.40f7a","type":"http request","z":"d85f18b8.5527f8","name":"","method":"POST","ret":"txt","url":"http://192.168.43.214:8080/AutonomousRoomsServices/userinputs/setMinTime","tls":"","x":830,"y":40,"wires":[[]]},{"id":"353d9176.656d06","type":"inject","z":"d85f18b8.5527f8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":70,"y":100,"wires":[["4d8b43f2.c6e924","3be51d0.74087e4","c761bd2d.d1cf48","f4b2c542.24ec88"]]},{"id":"c376f592.fc7868","type":"ui_chart","z":"a48159ac.7f0728","name":"","group":"1e7d5ea8.7a2fd9","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":590,"y":180,"wires":[[],[]]},{"id":"b47b2be.3b828d8","type":"function","z":"3b4d1a44.6ccb76","name":"","func":"msg.payload=\"<m2m:cin xmlns:m2m=\\\"http://www.onem2m.org/xml/protocols\\\"> <cnf>message</cnf><con>\"+msg.payload +\"</con></m2m:cin>\";\nmsg.headers = {};\nmsg.headers['X-M2M-Origin']=\"admin:admin\";\nmsg.headers['Content-Type']=\"application/xml;ty=4\";\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":100,"wires":[["f639a3f2.147e5"]]},{"id":"f639a3f2.147e5","type":"http request","z":"3b4d1a44.6ccb76","name":"","method":"POST","ret":"txt","url":"http://localhost:8080/~/in-cse/in-name/Temp_in/DATA","tls":"","x":900,"y":100,"wires":[[]]},{"id":"e40e48f1.21ef68","type":"ui_numeric","z":"d85f18b8.5527f8","name":"","label":"Day ends at","group":"d47626d0.dfc0f8","order":0,"width":0,"height":0,"passthru":false,"topic":"","format":"{{value}}","min":"-10","max":"50","step":1,"x":630,"y":80,"wires":[["63e015d3.9ced44"]]},{"id":"3be51d0.74087e4","type":"http request","z":"d85f18b8.5527f8","name":"","method":"GET","ret":"txt","url":"http://192.168.43.214:8080/AutonomousRoomsServices/userinputs/getMaxTime","tls":"","x":350,"y":80,"wires":[["cd55504.8b6793"]]},{"id":"cd55504.8b6793","type":"function","z":"d85f18b8.5527f8","name":"","func":"msg.payload = Number(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":80,"wires":[["e40e48f1.21ef68"]]},{"id":"63e015d3.9ced44","type":"http request","z":"d85f18b8.5527f8","name":"","method":"POST","ret":"txt","url":"http://192.168.43.214:8080/AutonomousRoomsServices/userinputs/setMaxTime","tls":"","x":830,"y":80,"wires":[[]]},{"id":"8bd2c.954ad2d48","type":"ui_numeric","z":"d85f18b8.5527f8","name":"","label":"Min Temperature","group":"d47626d0.dfc0f8","order":0,"width":0,"height":0,"passthru":false,"topic":"","format":"{{value}}","min":"-10","max":"50","step":1,"x":650,"y":120,"wires":[["ff32a826.3a7518"]]},{"id":"c761bd2d.d1cf48","type":"http request","z":"d85f18b8.5527f8","name":"","method":"GET","ret":"txt","url":"http://192.168.43.214:8080/AutonomousRoomsServices/userinputs/getMinTemp","tls":"","x":350,"y":120,"wires":[["21c1a7b7.f8e7e8"]]},{"id":"21c1a7b7.f8e7e8","type":"function","z":"d85f18b8.5527f8","name":"","func":"msg.payload = Number(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":120,"wires":[["8bd2c.954ad2d48"]]},{"id":"ff32a826.3a7518","type":"http request","z":"d85f18b8.5527f8","name":"","method":"POST","ret":"txt","url":"http://192.168.43.214:8080/AutonomousRoomsServices/userinputs/setMinTemp","tls":"","x":830,"y":120,"wires":[[]]},{"id":"a3dc35.b7b38bc8","type":"ui_numeric","z":"d85f18b8.5527f8","name":"","label":"Max Temperature","group":"d47626d0.dfc0f8","order":0,"width":0,"height":0,"passthru":false,"topic":"","format":"{{value}}","min":"-10","max":"50","step":1,"x":650,"y":160,"wires":[["6f597e2b.30ca"]]},{"id":"f4b2c542.24ec88","type":"http request","z":"d85f18b8.5527f8","name":"","method":"GET","ret":"txt","url":"http://192.168.43.214:8080/AutonomousRoomsServices/userinputs/getMaxTemp","tls":"","x":350,"y":160,"wires":[["5c6ec0c.30d704"]]},{"id":"5c6ec0c.30d704","type":"function","z":"d85f18b8.5527f8","name":"","func":"msg.payload = Number(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":160,"wires":[["a3dc35.b7b38bc8"]]},{"id":"6f597e2b.30ca","type":"http request","z":"d85f18b8.5527f8","name":"","method":"POST","ret":"txt","url":"http://192.168.43.214:8080/AutonomousRoomsServices/userinputs/setMaxTemp","tls":"","x":830,"y":160,"wires":[[]]},{"id":"fb51824a.3dfff8","type":"http in","z":"a48159ac.7f0728","name":"","url":"Alarm","method":"post","upload":false,"swaggerDoc":"","x":130,"y":240,"wires":[["bd01a1a7.76efe8"]]},{"id":"bd01a1a7.76efe8","type":"ui_toast","z":"a48159ac.7f0728","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":550,"y":240,"wires":[]},{"id":"58808d76.2b01e4","type":"function","z":"3b4d1a44.6ccb76","name":"","func":"msg.payload=\"<m2m:cin xmlns:m2m=\\\"http://www.onem2m.org/xml/protocols\\\"> <cnf>message</cnf><con>\"+msg.payload +\"</con></m2m:cin>\";\nmsg.headers = {};\nmsg.headers['X-M2M-Origin']=\"admin:admin\";\nmsg.headers['Content-Type']=\"application/xml;ty=4\";\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":160,"wires":[["d22d56d0.32aa38"]]},{"id":"d22d56d0.32aa38","type":"http request","z":"3b4d1a44.6ccb76","name":"","method":"POST","ret":"txt","url":"http://localhost:8080/~/in-cse/in-name/Temp_ext/DATA","tls":"","x":930,"y":160,"wires":[[]]},{"id":"6330842b.e8a5bc","type":"function","z":"3b4d1a44.6ccb76","name":"","func":"msg.payload=\"<m2m:cin xmlns:m2m=\\\"http://www.onem2m.org/xml/protocols\\\"> <cnf>message</cnf><con>\"+msg.payload +\"</con></m2m:cin>\";\nmsg.headers = {};\nmsg.headers['X-M2M-Origin']=\"admin:admin\";\nmsg.headers['Content-Type']=\"application/xml;ty=4\";\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":220,"wires":[["f76e8645.6233c8"]]},{"id":"f76e8645.6233c8","type":"http request","z":"3b4d1a44.6ccb76","name":"","method":"POST","ret":"txt","url":"http://localhost:8080/~/in-cse/in-name/Presence/DATA","tls":"","x":910,"y":220,"wires":[[]]},{"id":"694946b6.0d8338","type":"ui_switch","z":"3b4d1a44.6ccb76","name":"","label":"switch","group":"d47626d0.dfc0f8","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":530,"y":220,"wires":[["6330842b.e8a5bc"]]},{"id":"5bae9ce3.db42f4","type":"ui_text_input","z":"3b4d1a44.6ccb76","name":"","label":"Température intérieure","group":"d47626d0.dfc0f8","order":0,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"","x":500,"y":100,"wires":[["b47b2be.3b828d8"]]},{"id":"858246d1.1c0b78","type":"ui_text_input","z":"3b4d1a44.6ccb76","name":"","label":"Température extérieure","group":"d47626d0.dfc0f8","order":0,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"","x":510,"y":160,"wires":[["58808d76.2b01e4"]]}]